{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
        <div class="card mb-2">
          <div class="card-body">
            <h5>Product: {{item.product.title}}</h5>
            <p>Quantity: {{item.quantity}}</p>
            <p class="fw-bold">Price: Rs. {{item.total_cost}}</p>
          </div>
        </div>
      {% endfor %}
      <p class="fw-bold">Total Cost + Rs = {{ totalamount }}</p>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
    </div>

    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="{% url 'paymentdone' %}" method="GET">
        {% csrf_token %}
        {% for address in addresses %}
          <div class="card mb-2">
            <div class="card-body">
              <h5>{{ address.name }}</h5>
              <p>{{ address.locality }}, {{ address.city }}, {{ address.state }} - {{ address.zipcode }}</p>
            </div>
          </div>
          <div class="form-check mt-2 mb-5">
            <input class="form-check-input" type="radio" name="custid" value="{{ address.id }}" id="address{{ address.id }}" required>
            <label class="form-check-label fw-bold" for="address{{ address.id }}">
              Address: {{ address.name }}
            </label>
          </div>
        {% empty %}
          <p>No addresses available.</p>
        {% endfor %}
        
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
