{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{ user.first_name }}</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
        <li class="d-grid mt-3"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password</a></li>
      </ul>
    </div>
    
    <div class="col-sm-9 offset-sm-1">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            {{ field.label_tag }}  <!-- Field label -->
            {{ field }}  <!-- Field input -->
            <small class="text-danger">{{ field.errors|striptags }}</small>  <!-- Error display -->
          </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Change Password</button>

        {% if form.non_field_errors %}
          <div class="alert alert-danger mt-3">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
